@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.ff-oswald {
    font-family: "Oswald", sans-serif;
}

.swiper-slide {
    width: 230px !important;
    height: 230px !important;
    margin-left: 2px;
}

.swiper-slide img {
    width: 230px !important;
    height: 230px !important;
    opacity: 30%;
    transition: all 0.3s ease;
}

.swiper-slide .paragraph {
    display: none;
}

.swiper-slide-active img {
    width: 382px !important;
    height: 457px !important;
    opacity: 100%;
}

.swiper-slide-active .paragraph {
    display: block;
}

.swiper-slide-active {
    width: 382px !important;
    height: 514px !important;
    opacity: 100%;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}